<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="font-weight-bold mb-0">Allogio Dashboard</h4>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-md-center text-xl-left">Rooms</p>
                        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@ViewBag.roomsCount</h3>
                            <i class="ti-home icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                        </div>
                        <p class="mb-0 mt-2 text-danger">All rooms <span class="text-black ms-1"><small></small></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-md-center text-xl-left">Users</p>
                        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@ViewBag.Users</h3>
                            <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                        </div>
                        <p class="mb-0 mt-2 text-danger">All Users <span class="text-black ms-1"><small></small></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-md-center text-xl-left">New Orders</p>
                        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@ViewBag.Orders</h3>
                            <i class="ti-shopping-cart-full icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                        </div>
                        @if (ViewBag.Orders > 0)
                        {
                            <p class="mb-0 mt-2 text-success">New order for today<span class="text-black ms-1"><small></small></span></p>
                        }
                        else
                        {
                            <p class="mb-0 mt-2 text-danger">Not new order for today<span class="text-black ms-1"><small></small></span></p>

                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-md-center text-xl-left">Amount</p>
                        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@ViewBag.Amount</h3>
                            <i class="ti-money icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                        </div>
                        <p class="mb-0 mt-2 text-success">Total amount for today<span class="text-black ms-1"><small></small></span></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Spirit Ford</h4>
                    <canvas id="doughnutChart"></canvas>
                </div>
            </div>
        </div>


    </div>
    <!-- content-wrapper ends -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(function () {

        var doughnutPieData = {
            datasets: [{
                data: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
                backgroundColor: [
                    'rgba(225,179,132,0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 129, 64, 0.5)',
                    'rgba(174, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(125, 142, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 164, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(225, 226, 86, 0.5)',
                    'rgba(175, 192, 192, 0.5)',
                    'rgba(153, 152, 255, 0.5)',
                    'rgba(255, 159, 211, 0.5)',
                    'rgba(54, 162, 25, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(175, 142, 192, 0.5)',
                    'rgba(153, 172, 235, 0.5)',
                    'rgba(255, 179, 164, 0.5)',
                    'rgba(164, 162, 205, 0.5)',
                    'rgba(255, 26, 146, 0.5)',
                    'rgba(175, 122, 122, 0.5)',
                    'rgba(153, 192, 25, 0.5)',
                    'rgba(255, 223, 164, 0.5)',
                ],
                borderColor: [
                    'rgba(225,179,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 129, 64, 1)',
                    'rgba(174, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(125, 142, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 164, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(225, 226, 86, 1)',
                    'rgba(175, 192, 192, 1)',
                    'rgba(153, 152, 255, 1)',
                    'rgba(255, 159, 211, 1)',
                    'rgba(54, 162, 25, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(175, 142, 192, 1)',
                    'rgba(153, 172, 235, 1)',
                    'rgba(255, 179, 164, 1)',
                    'rgba(164, 162, 205, 1)',
                    'rgba(255, 26, 146, 1)',
                    'rgba(175, 122, 122, 1)',
                    'rgba(153, 192, 25, 1)',
                    'rgba(255, 223, 164, 1)',
                ],
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                "asd",
                "asd",
                "asd",
                "asd",
                "asd",
                "asd",
                "asd",
                "asd",
                "asd",
                "asd",
                "asd",
                "asd",
                "asd",
                "asd",
            ]
        };

        var doughnutPieOptions = {
            responsive: true,
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };

        if ($("#doughnutChart").length) {
            var doughnutChartCanvas = $("#doughnutChart").get(0).getContext("2d");
            var doughnutChart = new Chart(doughnutChartCanvas, {
                type: 'doughnut',
                data: doughnutPieData,
                options: doughnutPieOptions
            });
        }

    });
</script>
