
@{
    ViewData["Title"] = "Login";
}
@model ChangePasswordViewModel
 <!-- Check header begin -->
<div class="outHeader">
    <div class="outHeader_checkout">
        Reset Password
    </div>
</div>
<!-- Check header end -->
<!-- Login begin -->
<div class="login">
    <form action="ResetPassword" method="post">
        <input type="hidden" asp-for="Token" />
        <div class="register_group">
            <div class="register_groupName">
                Email
            </div>
            <div class="register_groupInput">
                <input type="text" class="register_input" asp-for="Email">
            </div>
        </div>

        <div class="register_group">
            <div class="register_groupName">
                New Password
            </div>
            <div class="register_groupInput">
                <input type="password"  class="register_input" asp-for="NewPassword">
            </div>
        </div>

        <div class="register_group">
            <div class="register_groupName">
                ConfirmPassword
            </div>
            <div class="register_groupInput">
                <input type="password" class="register_input" asp-for="ConfirmPassword">
            </div>
        </div>

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="register_group">
            <div class="register_button">
                <button types="submit" class="register_link">Change Password</button>
            </div>

        </div>

    </form>

</div>
<!-- Login end -->