
@{
    ViewData["Title"] = "Checkout";
}
@model PaymentViewModel
<!-- Check header begin -->
<div class="outHeader">
    <div class="outHeader_checkout">
        Checkout
    </div>
</div>
<!-- Check header end -->
<!-- Billing detail begin -->

@* USER OLDUGU HALDA YUXARIDA MELUMATLARINIZI YOXLAYIN DEYE BIR BILDIRIS CIXSIN *@

<form asp-action="checkout" method="post">

    <div class="billing">
        <div class="billing_detailsLeft">
            <div class="billing_name">
                Billing details
            </div>

            <div class="billing_group">
                <div class="billing_inputHeader">
                    Full name ..*
                </div>
                <div class="billing_inputs">
                    <input type="text" asp-for="@Model.Order.FullName" placeholder="First name" class="billing_input">
                </div>
            </div>




            <div class="billing_group">
                <div class="billing_inputHeader">
                    Phone ..*
                </div>
                <div class="billing_inputs">
                    <input type="number" asp-for="@Model.Order.Phone" placeholder="Phone" class="billing_input">
                </div>
            </div>

            <div class="billing_group">
                <div class="billing_inputHeader">
                    Email ..*
                </div>
                <div class="billing_inputs">
                    <input type="text" asp-for="@Model.Order.Email" placeholder="Email address" class="billing_input">
                </div>
            </div>

          
            <div style="display:flex; flex-direction:row">
                <div class="billing_group">
                    <div class="billing_inputHeader">
                        Card Number ..*
                    </div>
                    <div class="billing_inputs">
                        <input type="number" asp-for="CardNumber" placeholder="0123456789123456" class="billing_input">
                    </div>
                </div>

                <div class="billing_group">
                    <div class="billing_inputHeader">
                        Card ExpireMonth ..*
                    </div>
                    <div class="billing_inputs">
                        <input type="number" asp-for="ExpiredMonth" placeholder="01" class="billing_input">
                    </div>
                </div>

                <div class="billing_group">
                    <div class="billing_inputHeader">
                        Card ExpireYear ..*
                    </div>
                    <div class="billing_inputs">
                        <input type="number" asp-for="ExpiredYear" placeholder="2030" class="billing_input">
                    </div>
                </div>

                <div class="billing_group">
                    <div class="billing_inputHeader">
                        Card cvc ..*
                    </div>
                    <div class="billing_inputs">
                        <input type="number" asp-for="CardCVC" placeholder="101" class="billing_input">
                    </div>
                </div>

            </div>

        </div>
        <div class="billing_detailsRight">
            <div class="billing_name">
                Additional information
            </div>

            <div class="billing_group">
                <div class="billing_inputHeader">
                    Order notes (optional)
                </div>
                <div class="billing_inputs">
                    <textarea id="" cols="30" rows="10" asp-for="@Model.Order.Note" class="billing_input billing_textarea"></textarea>
                </div>
                <div  class="text-danger" asp-validation-summary="ModelOnly"></div>
            </div>
        </div>
       
    </div>
    <div class="billing_btnOrder">
        <button type="submit" class="billing_Orderbtn">Place Order</button>
    </div>
</form>
<!-- Billing detail end -->