.contactWrap {
    width: 85%;
    margin: 0 auto;
    padding: 50px 0;

    &_left {
        width: 50%;
    }

    &_right {
        width: 50%;

        iframe {
            width: 600px;
            height: 450px;
        }
    }

    &_Wrapcontents {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        padding: 30px 0;
    }

    &_contactheader {
        background-color: white;
    }


    &_itemHeader {
        font-size: 25px;
        font-family: 'Cormorant Garamond', serif;
        text-align: center;

    }

    &_itemDescription {
        font-size: 17px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 300;
        width: 60%;
        text-align: center;
        margin: 0 auto;
        padding: 10px 0;
    }

    &_header {
        font-size: 17px;
        font-weight: 300;
        text-align: left;
    }

    &_itemheader {
        padding-bottom: 20px;
    }

    &_inputContent {
        width: 100%;
        padding: 10px 0;

        textarea {
            width: 100%;
            height: 200px;
            resize: none;
        }
    }

    &_input {
        font-size: 22px;
        font-weight: 300;
        width: 100%;
        padding: 5px 0;
    }

    &_link {
        display: inline-block;
        width: 150px;
        height: 50px;
        background-color: white;
        border: 1px solid gray;
        color: black;
        font-size: 17px;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .4s linear;
        text-decoration: none;
    }

    &_link:hover {
        @include linkHover;
        background-color: $fontColor;
        color: white;
    }

    &_rightItemDescription {
        font-size: 17px;
        font-weight: 300;
        font-family: 'Cormorant Garamond', serif;

    }

    &_item {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 1200px) {

    .contactWrap {
        width: 100%;

        &_Wrapcontents {
            display: flex;
            flex-direction: column;
        }

        &_left {
            width: 60%;
            margin: 0 auto;
        }

        &_right {
            width: 60%;
            margin: 0 auto;
        }

        &_item {
            padding-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 576px) {

    .contactWrap {
        width: 100%;

        &_itemDescription {
            font-size: 15px;

            width: 90%;
        }

        &_left {
            width: 90%;
            margin: 0 auto;
        }

        &_right {
            width: 90%;
            margin: 0 auto;
        }

        &_rightItemdescription {
            font-size: 15px;

        }

        &_item {
            padding-bottom: 30px;
        }
    }
}