
@{
    ViewData["Title"] = "Contact";
}
@model ContactViewModel
<!-- Menu header begin -->
<div class="menuheader">
    <img src="~/assets/image/contact/@Model.Setting["ContactImage"]" alt="">

    <div class="menuheader_wrap">
        <p class="menuheader_menu">Contact</p>
    </div>
</div>
<!-- Menu header end -->
<!-- Menu begin -->
<div class="contactWrap">

    <div class="contactWrap_Wrapcontents">
        <div class="contactWrap_left">

            <form asp-action="index" method="post">

                <div class="contactWrap_itemheader">
                    <div class="contactWrap_inputGroup">
                        <div class="contactWrap_header">
                            Full name
                        </div>
                    </div>
                    <div class="contactWrap_inputContent">
                        <input type="text" asp-for="Message.FullName" class="contactWrap_input">
                        <span class="text-danger" asp-validation-for="Message.FullName"></span>
                    </div>
                </div>

                <div class="contactWrap_itemheader">
                    <div class="contactWrap_inputGroup">
                        <div class="contactWrap_header">
                            Email
                        </div>
                    </div>
                    <div class="contactWrap_inputContent">
                        <input type="text" asp-for="Message.Email" class="contactWrap_input">
                        <span class="text-danger" asp-validation-for="Message.Email"></span>

                    </div>
                </div>

                <div class="contactWrap_itemheader">
                    <div class="contactWrap_inputGroup">
                        <div class="contactWrap_header">
                            Write your message
                        </div>
                    </div>
                    <div class="contactWrap_inputContent">
                        <textarea asp-for="Message.Content" maxlength="300" class="contentWrap_textarea"></textarea>
                        <span class="text-danger" asp-validation-for="Message.Content"></span>

                    </div>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="contactWrap_itemheader">
                    <div class="contactWrap_button">
                        <button type="submit" class="contactWrap_link">Send</button>
                    </div>
                </div>

            </form>

        </div>
        <div class="contactWrap_right">
            <div class="contactWrap_item">
                <div class="contactWrap_itemHeader contactWrap_item ">
                    @Model.Setting["ContactHelpHeader"]
                    <div class="contactWrap_rightItemDescription">
                        @Model.Setting["ContactHelpContent"]
                    </div>
                </div>

                <div class="contactWrap_item">
                    <div class="contactWrap_itemHeader">
                        Call us @Model.Setting["Phone"]
                    </div>
                    <div class="contactWrap_rightItemDescription">
                        @Model.Setting["ContactPhoneContent"]

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Menu end -->