
@{
    ViewData["Title"] = "Contact";
}
@model Dictionary<string, string>
<!-- Menu header begin -->
<div class="menuheader">
    <img src="~/assets/image/contact/@Model["ContactImage"]" alt="">

    <div class="menuheader_wrap">
        <p class="menuheader_menu">Contact</p>
    </div>
</div>
<!-- Menu header end -->
<!-- Menu begin -->
<div class="contactWrap">

    <div class="contactWrap_Wrapcontents">
        <div class="contactWrap_left">

            <form action="/" method="post">

                <div class="contactWrap_itemheader">
                    <div class="contactWrap_inputGroup">
                        <div class="contactWrap_header">
                            First name
                        </div>
                    </div>
                    <div class="contactWrap_inputContent">
                        <input type="text" class="contactWrap_input">
                    </div>
                </div>

                <div class="contactWrap_itemheader">
                    <div class="contactWrap_inputGroup">
                        <div class="contactWrap_header">
                            Email
                        </div>
                    </div>
                    <div class="contactWrap_inputContent">
                        <input type="text" class="contactWrap_input">
                    </div>
                </div>

                <div class="contactWrap_itemheader">
                    <div class="contactWrap_inputGroup">
                        <div class="contactWrap_header">
                            Write your message
                        </div>
                    </div>
                    <div class="contactWrap_inputContent">
                        <textarea class="contentWrap_textarea"></textarea>
                    </div>
                </div>

                <div class="contactWrap_itemheader">
                    <div class="contactWrap_button">
                        <a href="#" class="contactWrap_link">Send</a>
                    </div>
                </div>

            </form>

        </div>
        <div class="contactWrap_right">
            <div class="contactWrap_item">
                <div class="contactWrap_itemHeader contactWrap_item ">
                    @Model["ContactHelpHeader"]
                    <div class="contactWrap_rightItemDescription">
                        @Model["ContactHelpContent"]
                    </div>
                </div>

                <div class="contactWrap_item">
                    <div class="contactWrap_itemHeader">
                        Call us @Model["Phone"]
                    </div>
                    <div class="contactWrap_rightItemDescription">
                        @Model["ContactPhoneContent"]

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Menu end -->