
@{
    ViewData["Title"] = "Blog";
}
<!-- Menu header begin -->
<div class="menuheader">
    <img src="~/assets/image/blog/blogHeader.jpg" alt="">

    <div class="menuheader_wrap">
        <p class="menuheader_menu">Blog</p>
    </div>
</div>
<!-- Menu header end -->
<!-- Blog begin -->
<div class="blog">
    <div class="blog_item">
        <div class="blog_image">
            <img src="~/assets/image/Blog/img1.jpg" alt="">
        </div>
        <div class="blog_header">
            Get In Shape While Traveling

        </div>
        <div class="blog_content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum. At vero eos et accusamus et iusto odio dignissimos ducimus qui.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est.
        </div>
        <div class="blog_button">
            <a href="#" class="blog_link">Read more...</a>
        </div>
        <hr>
    </div>
    <div class="blog_item">
        <div class="blog_image">
            <img src="~/assets/image/Blog/img1.jpg" alt="">
        </div>
        <div class="blog_header">
            Get In Shape While Traveling

        </div>
        <div class="blog_content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum. At vero eos et accusamus et iusto odio dignissimos ducimus qui.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est.
        </div>
        <div class="blog_button">
            <a href="#" class="blog_link">Read more...</a>
        </div>
        <hr>
    </div>
</div>
<!-- Blog end -->
