
@{
    ViewData["Title"] = "Gallery";
}
@model Dictionary<string, string>
<!-- Menu header begin -->
<div class="menuheader">
    <img src="~/assets/image/Gallery/@Model["GalleryImage"]" alt="">

    <div class="menuheader_wrap">
        <p class="menuheader_menu">Gallery</p>
    </div>
</div>
<!-- Menu header end -->
<!-- Showroom begin  -->
<div class="showroom">
    <div class="showroom_wrap">
        <div class="showroom_itemTop">
            <img src="~/assets/image/Gallery/@Model["GalleryImage1"]" class="showroom_itemTopImage" alt="">
        </div>
        <div class="showroom_itemBottom">
            <div class="showroom_leftItem">
                <img src="~/assets/image/Gallery/@Model["GalleryImage2"]" alt="" class="showroom_itemBottomImage">
            </div>
            <div class="showroom_rightItem">
                <img src="~/assets/image/Gallery/@Model["GalleryImage3"]" alt="" class="showroom_itemBottomImage">
            </div>
        </div>

        <div class="showroom_itemTop">
            <img src="~/assets/image/Gallery/@Model["GalleryImage4"]" class="showroom_itemTopImage" alt="">
        </div>
        <div class="showroom_itemBottom">
            <div class="showroom_leftItem">
                <img src="~/assets/image/Gallery/@Model["GalleryImage5"]" alt="" class="showroom_itemBottomImage">
            </div>
            <div class="showroom_rightItem">
                <img src="~/assets/image/Gallery/@Model["GalleryImage6"]" alt="" class="showroom_itemBottomImage">
            </div>
        </div>
    </div>
</div>
<!-- Showroom end -->
