
@{
    ViewData["Title"] = "Gallery";
}
<!-- Menu header begin -->
<div class="menuheader">
    <img src="~/assets/image/Gallery/head.jpg" alt="">

    <div class="menuheader_wrap">
        <p class="menuheader_menu">Gallery</p>
    </div>
</div>
<!-- Menu header end -->
<!-- Showroom begin  -->
<div class="showroom">
    <div class="showroom_wrap">
        <div class="showroom_itemTop">
            <img src="~/assets/image/Gallery/img1.jpg" class="showroom_itemTopImage" alt="">
        </div>
        <div class="showroom_itemBottom">
            <div class="showroom_leftItem">
                <img src="~/assets/image/Gallery/img2.jpg" alt="" class="showroom_itemBottomImage">
            </div>
            <div class="showroom_rightItem">
                <img src="~/assets/image/Gallery/img3.jpg" alt="" class="showroom_itemBottomImage">
            </div>
        </div>

        <div class="showroom_itemTop">
            <img src="~/assets/image/Gallery/img4.jpg" class="showroom_itemTopImage" alt="">
        </div>
        <div class="showroom_itemBottom">
            <div class="showroom_leftItem">
                <img src="~/assets/image/Gallery/img5.jpg" alt="" class="showroom_itemBottomImage">
            </div>
            <div class="showroom_rightItem">
                <img src="~/assets/image/Gallery/img6.jpg" alt="" class="showroom_itemBottomImage">
            </div>
        </div>
    </div>
</div>
<!-- Showroom end -->
