
@{
    ViewData["Title"] = "Menu";
}
<!-- Menu header begin -->
<div class="menuheader">
    <img src="~/assets/image/menu/menuHeader.jpg" alt="">

    <div class="menuheader_wrap">
        <p class="menuheader_menu">Menu Page</p>
    </div>
</div>
<!-- Menu header end -->
<!-- Continental begin -->
<div class="continental">
    <div class="continental_header">
        Continental
    </div>
    <div class="continental_description">
        Between 08.30 and 10.30 we serve our buffet of local and fresh products. Start your day with your favorite
        breakfast!
    </div>
</div>
<!-- Continental end -->
<!-- Menu begin -->
<div class="menuWrap">
    <div class="menuWrap_left">
        <div class="menuWrap_item">
            <div class="menuWrap_itemHeader">
                Eggs & Bacon
            </div>
            <div class="menuWrap_itemDescription">
                Praesent ut ante vel augue accumsan sagittis aenean. Vivamus non porti aliqu feli.
            </div>
        </div>

        <div class="menuWrap_item">
            <div class="menuWrap_itemHeader">
                Vegan Breakfast
            </div>
            <div class="menuWrap_itemDescription">
                Praesent ut ante vel augue accumsan sagittis aenean. Vivamus non porti aliqu feli.
            </div>
        </div>

        <div class="menuWrap_item">
            <div class="menuWrap_itemHeader">
                Tea or Coffee
            </div>
            <div class="menuWrap_itemDescription">
                Praesent ut ante vel augue accumsan sagittis aenean. Vivamus non porti aliqu feli.
            </div>
        </div>

        <div class="menuWrap_item">
            <div class="menuWrap_itemHeader">
                Chia Oatmeal
            </div>
            <div class="menuWrap_itemDescription">
                Praesent ut ante vel augue accumsan sagittis aenean. Vivamus non porti aliqu feli.
            </div>
        </div>

        <div class="menuWrap_item">
            <div class="menuWrap_itemHeader">
                Juice
            </div>
            <div class="menuWrap_itemDescription">
                Praesent ut ante vel augue accumsan sagittis aenean. Vivamus non porti aliqu feli.
            </div>
        </div>


    </div>
    <div class="menuWrap_right">
        <div class="menuWrap_item">
            <div class="menuWrap_itemHeader">
                French Croissant
            </div>
            <div class="menuWrap_itemDescription">
                Praesent ut ante vel augue accumsan sagittis aenean. Vivamus non porti aliqu feli.
            </div>
        </div>

        <div class="menuWrap_item">
            <div class="menuWrap_itemHeader">
                Avocado Toast
            </div>
            <div class="menuWrap_itemDescription">
                Praesent ut ante vel augue accumsan sagittis aenean. Vivamus non porti aliqu feli.
            </div>
        </div>

        <div class="menuWrap_item">
            <div class="menuWrap_itemHeader">
                Cheese Plate
            </div>
            <div class="menuWrap_itemDescription">
                Praesent ut ante vel augue accumsan sagittis aenean. Vivamus non porti aliqu feli.
            </div>
        </div>

        <div class="menuWrap_item">
            <div class="menuWrap_itemHeader">
                Marmalade Selection
            </div>
            <div class="menuWrap_itemDescription">
                Praesent ut ante vel augue accumsan sagittis aenean. Vivamus non porti aliqu feli.
            </div>
        </div>

        <div class="menuWrap_item">
            <div class="menuWrap_itemHeader">
                Fruit Parfait
            </div>
            <div class="menuWrap_itemDescription">
                Praesent ut ante vel augue accumsan sagittis aenean. Vivamus non porti aliqu feli.
            </div>
        </div>

    </div>
</div>
<!-- Menu end -->