
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allogio - Hotel Booking</title>

    <!-- favicon begin -->
    <link rel="icon" type="image/x-icon" href="/assets/image/favicon/cropped-favicon-32x32.png">
    <link rel="icon" type="image/x-icon" href="/assets/image/favicon/cropped-favicon-180x180.png">
    <link rel="icon" type="image/x-icon" href="/assets/image/favicon/cropped-favicon-192x192.png">
    <!-- favicon end -->


    <!-- main css begin -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- main css end -->



</head>


<body>

  

    <!-- 404 begin -->
    <div class="wrap">
        <div class="wrap_number">
            404
        </div>
        <div class="wrap_type">
            Page not found! 
        </div>
    </div>
    <!-- 404 end -->

   
   
</body>

</html>