
@{
    ViewData["Title"] = "RoomDetail";
}
<!-- House image begin -->
<div class="houseImage">
    <img src="~/assets/image/HeaderImageForRoom/img1.jpg" alt="" class="houseImage_source">
</div>
<!-- House image end -->
<!-- Detail begin -->
<div class="detailWrap">
    <div class="detailWrap_room">
        <div class="detailWrap_suitdetail">
            <div class="detailWrap_suitname">
                Maria’s Home
            </div>
            <div class="detailWrap_suitdescription">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio lorem, iaculis non felis vel,
                faucibus efficitur dui. Aliquam erat volutpat. Quisque hendrerit massa nec lobortis mollis. Nunc eu
                eros efficitur, convallis enim ac, ultricies nisi. Lorem ipsum dolor sit amet, consectetur
                adipiscing.

                Donec sollicitudin nulla risus, eget luctus ipsum facilisis dictum. Integer ultricies sapien libero,
                sed congue ligula hendrerit quis. Vivamus dolor mauris, mollis nec accumsan sed, pulvinar id nisl.

            </div>

            <hr class="detailWrap_hr">

        </div>

        <div class="detailWrap_suitServices">
            <div class="detailWrap_ServiceHeader">
                Amenities
            </div>

            <div class="detailWrap_ServiceList">
                <div class="row detailWrap_ListWrap">
                    <div class="col-6 detailWrap_ListWrapItem">
                        <div class="detailWrap_ServiceWrap">
                            <div class="detailWrap_serviceIcon">
                                <i class="fa-solid fa-egg detailWrap_Icon"></i>
                            </div>
                            <div class="detailWrap_serviceName">
                                Breakfast
                            </div>
                        </div>

                        <div class="detailWrap_ServiceWrap">
                            <div class="detailWrap_serviceIcon">
                                <i class="fa-solid fa-shop detailWrap_Icon"></i>

                            </div>
                            <div class="detailWrap_serviceName">
                                Grocery shop near
                            </div>
                        </div>

                        <div class="detailWrap_ServiceWrap">
                            <div class="detailWrap_serviceIcon">
                                <i class="fa-solid fa-martini-glass-empty detailWrap_Icon"></i>
                            </div>
                            <div class="detailWrap_serviceName">
                                Lobby Bar
                            </div>
                        </div>

                        <div class="detailWrap_ServiceWrap">
                            <div class="detailWrap_serviceIcon">

                                <i class="fa-solid fa-bed detailWrap_Icon"></i>
                            </div>
                            <div class="detailWrap_serviceName">
                                Single Bed
                            </div>
                        </div>

                    </div>
                    <div class="col-6 detailWrap_ListWrapItem">

                        <div class="detailWrap_ServiceWrap">
                            <div class="detailWrap_serviceIcon">

                                <i class="fa-solid fa-tv detailWrap_Icon"></i>
                            </div>
                            <div class="detailWrap_serviceName">
                                Cable Tv
                            </div>
                        </div>

                        <div class="detailWrap_ServiceWrap">
                            <div class="detailWrap_serviceIcon">

                                <i class="fa-solid fa-car-rear detailWrap_Icon"></i>
                            </div>
                            <div class="detailWrap_serviceName">
                                Rent a car
                            </div>
                        </div>

                        <div class="detailWrap_ServiceWrap">
                            <div class="detailWrap_serviceIcon">

                                <i class="fa-solid fa-mug-hot detailWrap_Icon"></i>
                            </div>
                            <div class="detailWrap_serviceName">
                                Tea & Coffee
                            </div>
                        </div>

                        <div class="detailWrap_ServiceWrap">
                            <div class="detailWrap_serviceIcon">

                                <i class="fa-solid fa-wheelchair detailWrap_Icon"></i>
                            </div>
                            <div class="detailWrap_serviceName">
                                Disabled Access
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr class="detailWrap_hr">

        </div>

        <div class="detailWrap_rules">
            <div class="detailWrap_rulesHeader">
                House rules *
            </div>
            <div class="detailWrap_rulesContent">

                We have created some rules for our home to serve our customers at the highest level and keep them
                happy with us. Please <a href="#" class="detailWrap_rulesLink">read</a> the house rules and terms of
                cancellation. It is mandatory for each of our customers to follow these rules.
            </div>
            <hr class="detailWrap_hr">
        </div>

        <div class="detailWrap_comments">
            <div class="detailWrap_header">
                Comments
            </div>
            <div class="detailWrap_commentitem">
                <div class="detailWrap_commentimage">
                    <img src="~/assets/image/account/img1.png" alt="">
                </div>
                <div class="detailWrap_CommentAccountWrap">
                    <div class="detailWrap_commentAccountName">
                        John Fowler
                    </div>
                    <div class="detailWrap_commentAccountContent">
                        Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                    </div>

                    <div class="detailWrap_commentAccountDateTime">
                        April 2, 2020
                    </div>
                </div>

            </div>

            <div class="detailWrap_typeComment">
                <textarea placeholder="Comment *" class="detailWrap_commentTextarea"></textarea>

                <a href="#" class="detailWrap_commentSubmit">Post comment</a>
            </div>
            <hr class="detailWrap_hr">
        </div>

        <div class="detailWrap_maps">

            <div class="detailWrap_MapHeader">
                Location
            </div>
            <div class="detailWrap_MapContent">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24313.217287197873!2d49.861912035812566!3d40.38332011840053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307daeaf28f84b%3A0x1cf9e4b780d543c1!2zQcSfIMWeyZloyZlyIEJ1bHZhcsSx!5e0!3m2!1sen!2s!4v1646294916687!5m2!1sen!2s"
                        width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

        </div>

    </div>

    <div class="detailWrap_rightSide">
        <div class="detailWrap_reservation">
            <div class="detailWrap_reservationWrap">

                <div class="detailWrap_reservationHeader">
                    Your Reservation
                </div>

                <div class="detailWrap_inputs">
                    <div class="detailWrap_checkHeader">
                        CHECK - IN:
                    </div>
                    <div class="detailWrap_checkin">

                        <input class="form-control detailWrap_checkinInput" placeholder="Select date"
                               type="datetime-local">

                    </div>
                </div>

                <div class="detailWrap_inputs">
                    <div class="detailWrap_checkHeader">
                        CHECK - OUT:
                    </div>
                    <div class="detailWrap_checkin ">

                        <input class="form-control detailWrap_checkinInput" placeholder="Select date"
                               type="datetime-local">

                    </div>
                </div>

                <div class="detailWrap_inputs">
                    <div class="detailWrap_checkHeader">
                        ROOMS:
                    </div>
                    <div class="detailWrap_checkin ">
                        <select class="form-select detailWrap_checkinInput" aria-label="Default select example">
                            <option selected disabled class="detailWrap_checkinInput">Select room</option>
                            <option value="1" class="detailWrap_checkinInput">1 Room</option>
                            <option value="2" class="detailWrap_checkinInput">2 Rooms</option>
                            <option value="3" class="detailWrap_checkinInput">3 Rooms</option>
                        </select>

                    </div>
                </div>

                <div class="detailWrap_inputs">
                    <div class="detailWrap_checkHeader">
                        GUESTS:
                    </div>
                    <div class="detailWrap_checkin input-group">

                        <div class="form-select detailWrap_checkinInput detailWrap_PersonForm" id="guests">
                            <p class="detailWrap_AllPassenger">Adults: 1 Children: 0 Infant: 0</p>

                        </div>
                        <div class="detailWrap_innerForm">
                            <div class="detailWrap_PersonItem detailWrap_checkinInput">
                                Adults

                                <select class="form-select detailWrap_checkinInput detailWrap_item"
                                        id="SelectAdults">

                                    <option selected value="1" class="detailWrap_checkinInput">1</option>
                                    <option value="2" class="detailWrap_checkinInput">2 </option>
                                    <option value="3" class="detailWrap_checkinInput">3 </option>
                                </select>

                            </div>

                            <div class="detailWrap_PersonItem detailWrap_checkinInput">
                                Children

                                <select class="form-select detailWrap_checkinInput detailWrap_item"
                                        id="SelectChildren">

                                    <option selected value="0" class="detailWrap_checkinInput">0</option>
                                    <option value="1" class="detailWrap_checkinInput">1 </option>
                                    <option value="2" class="detailWrap_checkinInput">2 </option>
                                </select>
                            </div>

                            <div class="detailWrap_PersonItem detailWrap_checkinInput">
                                İnfant's
                                <select class="form-select detailWrap_checkinInput detailWrap_item"
                                        id="SelectInfant">

                                    <option selected value="0" class="detailWrap_checkinInput">0</option>
                                    <option value="1" class="detailWrap_checkinInput">1 </option>
                                    <option value="2" class="detailWrap_checkinInput">2 </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="detailWrap_inputs">
                    <div class="detailWrap_reservationHeader detailWrap_yourPrice">
                        Your price
                    </div>
                    <div class="detailWrap_price detailWrap_checkHeader">
                        $ 87 / per room
                    </div>
                </div>

                <div class="detailWrap_inputs detailWrap_BookNow">
                    <a href="#" class="detailWrap_btnBookNow">
                        BOOK NOW
                    </a>
                </div>

            </div>
        </div>


    </div>

</div>
<!-- Detail End -->
<!-- Related room begin -->
<div class="related">
    <div class="related_roomsHeader">
        Related Rooms
    </div>
    <div class="row related_roomsContent">

        <div class="col-4 related_roomItems">
            <div class="related_roomItem">
                <div class="related_itemImage">
                    <img src="~/assets/image/related room example/img1.jpg" class="related_image" alt="">
                </div>
                <div class="related_itemName">
                    <a href="#" class="related_itemLink">House Ciardi</a>
                </div>
                <p class="related_itemPrice">from 60$</p>
                <div class="related_itemDescription">
                    Ut et rhoncus odio. Quisque pellentesque nisl leo, eget ultricies nibh ullamcorper ut.
                    Curabitur
                    bibendum sed neque quis rhoncus maecenas.
                </div>
            </div>
        </div>


        <div class="col-4 related_roomItems">
            <div class="related_roomItem">
                <div class="related_itemImage">
                    <img src="~/assets/image/related room example/img2.jpg" class="related_image" alt="">
                </div>
                <div class="related_itemName">
                    <a href="#" class="related_itemLink">Casa Mancini</a>
                </div>
                <p class="related_itemPrice">from 60$</p>
                <div class="related_itemDescription">
                    Ut et rhoncus odio. Quisque pellentesque nisl leo, eget ultricies nibh ullamcorper ut.
                    Curabitur
                    bibendum sed neque quis rhoncus maecenas.
                </div>
            </div>
        </div>


        <div class="col-4 related_roomItems">
            <div class="related_roomItem">
                <div class="related_itemImage">
                    <img src="~/assets/image/related room example/img3.jpg" class="related_image" alt="">
                </div>
                <div class="related_itemName">
                    <a href="#" class="related_itemLink">Cozy Place</a>
                </div>
                <p class="related_itemPrice">from 60$</p>
                <div class="related_itemDescription">
                    Ut et rhoncus odio. Quisque pellentesque nisl leo, eget ultricies nibh ullamcorper ut.
                    Curabitur
                    bibendum sed neque quis rhoncus maecenas.
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Related room end -->