* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  list-style: none;
  text-decoration: none;
  font-size: 12px;
}

.headerSecond {
  width: 100%;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 352;
  position: -webkit-sticky;
  position: sticky;
}

.headerSecond .header-inner {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.headerSecond .header-inner_logoWrap {
  width: 45%;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerSecond .header-inner_logo {
  width: 112px;
  height: 36px;
}

.headerSecond .header-inner_nav {
  width: 40%;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerSecond .header-inner_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.headerSecond .header-inner_menu-item {
  letter-spacing: 2px;
}

.headerSecond .header-inner_menu-item-link {
  text-decoration: none;
  color: black;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.headerSecond .header-inner_menu-item-link:hover {
  color: #b56953;
  cursor: pointer;
}

.headerSecond .header-inner_widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 15%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  line-height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerSecond .header-inner_widgets-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  font-size: 20px;
}

.headerSecond .header-inner_weathersIcon {
  font-size: 17px;
}

.headerSecond .header-inner_weather-temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 300;
  font-size: 17px;
}

.headerSecond .header-inner_weather-temperature sup {
  line-height: 30px;
}

.headerSecond .header-inner_basket-link {
  text-decoration: none;
  color: black;
  -webkit-transition: color .3s;
  transition: color .3s;
  font-weight: 300;
  font-size: 17px;
}

.headerSecond .header-inner_basket-link:hover {
  color: #b56953;
  cursor: pointer;
}

.headerSecond .header-inner_basket {
  font-size: 18px;
  font-weight: 700;
}

header {
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 352;
  position: -webkit-sticky;
  position: sticky;
}

header .header-inner {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .header-inner_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 43%;
}

header .header-inner_widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-inner_city {
  font-weight: 300;
  font-size: 17px;
}

header .header-inner_weatherIcon {
  font-size: 17px;
  padding: 0 10px;
}

header .header-inner_weatherTemperature {
  font-weight: 300;
  font-size: 17px;
}

header .header-inner_leftMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

header .header-inner_leftMenuWrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-inner_navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .header-inner_menuItemLink {
  text-decoration: none;
  color: black;
  -webkit-transition: color .3s;
  transition: color .3s;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 4px;
}

header .header-inner_menuItemLink:hover {
  color: #b56953;
  cursor: pointer;
}

header .header-inner_centralLogo {
  width: 110px;
  height: 110px;
}

header .header-inner_center {
  padding: 0 40px;
}

header .header-inner_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-inner_rightMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

header .header-inner_rightMenuWrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-inner_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-inner_accountEmail {
  text-decoration: none;
  color: black;
  -webkit-transition: color .3s;
  transition: color .3s;
  font-weight: 300;
  font-size: 17px;
}

header .header-inner_accountEmail:hover {
  color: #b56953;
  cursor: pointer;
}

header .header-inner_hamburger {
  display: none;
}

header .header-inner_hamburgerImage {
  display: none;
}

@media only screen and (max-width: 1200px) {
  body header {
    height: 70px;
  }
  body header .header-inner {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .header-inner_widget {
    display: none;
  }
  body header .header-inner_leftMenuWrap {
    display: none;
  }
  body header .header-inner_center {
    display: none;
  }
  body header .header-inner_rightMenuWrap {
    display: none;
  }
  body header .header-inner_account {
    display: none;
  }
  body header .header-inner_hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .header-inner_hambugerInner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
  }
  body header .header-inner_hamburgerItem {
    display: inline-block;
    width: 30px;
    height: 3px;
    content: "";
    background-color: gray;
  }
  body header .header-inner_hamburgerImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .header-inner_hamburgerImageLink {
    width: 50%;
  }
}

.footer-top-area {
  background-color: #FAF9F5;
  padding: 110px 0 110px 0;
}

.footer-top-area_inner {
  width: 90%;
  margin: 0 auto;
}

.footer-top-area_about {
  padding-right: 10px;
}

.footer-top-area_contact {
  padding-left: 50px;
}

.footer-top-area_aboutHeader {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 25px;
}

.footer-top-area_aboutDescription {
  font-weight: 300;
  font-size: 17px;
  padding: 20px 0 20px 0;
}

.footer-top-area_aboutPartner {
  padding-top: 15px;
}

.footer-top-area_contactHeader {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 25px;
}

.footer-top-area_contactDescription {
  padding: 20px 0 20px 0;
}

.footer-top-area_contactDescriptionItem {
  font-weight: 300;
  font-size: 17px;
  margin: 0;
}

.footer-top-area_contactDescriptionLink {
  text-decoration: none;
  color: black;
  -webkit-transition: color .3s;
  transition: color .3s;
  font-weight: 300;
  font-size: 17px;
}

.footer-top-area_contactDescriptionLink:hover {
  color: #b56953;
  cursor: pointer;
}

.footer-top-area_contactShowOnMapLink {
  text-decoration: none;
  color: black;
  -webkit-transition: color .3s;
  transition: color .3s;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 400;
}

.footer-top-area_contactShowOnMapLink:hover {
  color: #b56953;
  cursor: pointer;
}

.footer-top-area_paymentHeader {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 25px;
}

.footer-top-area_paymentDescription {
  font-weight: 300;
  font-size: 17px;
  padding: 20px 0 20px 0;
}

.footer-top-area_paymentItem {
  text-decoration: none;
  color: black;
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #C5C0B1;
}

.footer-top-area_paymentItemLink {
  font-size: 25px;
  padding-right: 10px;
}

.footer-top-area_paymentItem:hover {
  color: #b56953;
  cursor: pointer;
}

.footer-top-area_socialHeader {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 25px;
}

.footer-top-area_socialDescription {
  font-weight: 300;
  font-size: 17px;
  padding: 20px 0 20px 0;
}

.footer-top-area_socialLinksItem {
  text-decoration: none;
  color: black;
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #C5C0B1;
}

.footer-top-area_socialItemLink {
  font-size: 25px;
  padding-right: 10px;
}

.footer-top-area_socialLinksItem:hover {
  color: #b56953;
  cursor: pointer;
}

.footer-bottom-area {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3ECE8;
}

.footer-bottom-area_bottomInner {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-bottom-area_copyright {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.backToTop {
  position: absolute;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
}

.backToTop_Inner {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #b56953;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backToTop_frameInner {
  position: absolute;
  background-color: #b56953;
  left: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: 0.3s cubic-bezier(0.7, 0, 0, 0.7);
  transition: 0.3s cubic-bezier(0.7, 0, 0, 0.7);
}

.backToTop_Inner:hover .backToTop_frameInner {
  width: 100%;
  height: 100%;
}

.backToTop_Inner:hover .backToTop_icon {
  color: white;
  z-index: 1;
}

.backToTop_icon {
  font-size: 20px;
  color: #b56953;
}

.backToTop:hover {
  cursor: pointer;
}

.slider {
  background-attachment: fixed;
}

.slider_image {
  margin: 0 auto;
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.slider_captionHeader {
  margin: 0 auto;
  width: 80%;
  font-size: 70px;
  font-weight: 300;
}

.slider_button {
  width: 150px;
  height: 50px;
  background-color: #b56953;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  position: relative;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.slider_buttonType {
  font-weight: 300;
  font-size: 17px;
  color: white;
}

.slider_button:hover {
  background-color: black;
  border: 1px solid white;
}

.check {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.check_itemHeader {
  font-family: 'Cormorant Garamond', serif;
  font-size: 15px;
  padding: 0 0 10px 0;
}

.check_checkinInput {
  font-weight: 300;
  background-color: #FAF9F5 !important;
  height: 50PX;
  font-size: 20px;
}

.check_innerForms {
  display: none;
}

.check_items {
  width: 30%;
}

.suit {
  width: 100%;
  margin: 0 auto;
  padding: 50px 150px;
}

.suit_wrapHead {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.suit_wrapHeader {
  font-family: 'Cormorant Garamond', serif;
  font-size: 43px;
  text-align: center;
  width: 50%;
}

.suit_wrapDescription {
  font-size: 23px;
  font-weight: 300;
  width: 80%;
  text-align: center;
  padding: 20px;
}

.suit_card {
  background-color: #FAF9F5;
  font-family: 'Cormorant Garamond', serif;
  position: relative;
  border-radius: 5px;
}

.suit_info {
  padding: 30px;
}

.suit_cardImage {
  padding: 20px;
}

.suit_image {
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0px 15px 30px -10px;
          box-shadow: 0px 15px 30px -10px;
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.suit_cardImage:hover .suit_image {
  -webkit-transform: rotateZ(-15deg);
          transform: rotateZ(-15deg);
}

.suit_cardHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.suit_name {
  font-size: 35px;
  font-family: 'Cormorant Garamond', serif;
}

.suit_price {
  font-family: 'Cormorant Garamond', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suit_pricespan {
  font-family: 'Cormorant Garamond', serif;
  font-size: 45px;
  font-weight: 300;
}

.suit_from {
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  color: #b56953;
}

.suit_volume {
  font-size: 17px;
  font-weight: 300;
  color: #b56953;
  padding-bottom: 10px;
}

.suit_description {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.suit_cardButton {
  padding: 20px 0;
}

.suit_button {
  text-decoration: none;
  color: black;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.suit_button:hover {
  color: #b56953;
  cursor: pointer;
}

.services {
  background-color: #FAF9F5;
  padding: 50px;
}

.services_header {
  margin: 0 auto;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 43px;
}

.services_description {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 20px 0;
  font-size: 21px;
  font-weight: 300;
}

.services_items {
  width: 85%;
  margin: 0 auto;
  padding-top: 50px;
}

.services_columnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.services_column {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services_itemIcon {
  text-align: center;
  padding: 20px 0;
}

.services_icon {
  font-size: 50px;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #b56953;
}

.services_icon:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.services_itemTitle {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
}

.testimonial {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}

.testimonial_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testimonial_item {
  padding-top: 10px;
}

.testimonial_header {
  margin: 0 auto;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 43px;
  padding: 20px 0;
}

.testimonial_logoWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial_logo {
  border-radius: 50%;
}

.testimonial_content {
  padding: 20px 0 20px 0;
}

.testimonial_description {
  font-weight: 300;
  font-size: 17px;
  font-size: 20px;
  width: 80%;
  padding: 20px 0 20px 0;
  margin: 0 auto;
  text-align: center;
}

.testimonial_name {
  text-align: center;
  color: #b56953;
  font-weight: 300;
  font-size: 17px;
}

.subscription {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1EEE3;
}

.subscription_wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.subscription_emailIcon {
  font-size: 43px;
}

.subscription_type {
  font-size: 43px;
  font-weight: 300;
}

.subscription_emailInput {
  width: 350px;
  height: 50px;
  font-size: 25px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #D0CEC4;
  background-color: #F1EEE3;
}

.subscription_signButton {
  font-size: 13px;
  width: 150px;
  height: 50px;
  color: #6b3e31;
  border: 1px solid #754234;
  background-color: #F1EEE3;
  letter-spacing: 1px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.subscription_signButton:hover {
  background-color: #B56953;
  color: white;
  border: 1px solid #B56953;
}

@media only screen and (max-width: 1200px) {
  body .slider_image {
    height: 400px;
  }
  body .slider_captionHeader {
    font-size: 50px;
  }
}

@media only screen and (max-width: 992px) {
  body .subscription_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
  body .footer-top-area_inner {
    row-gap: 20px;
  }
  body .footer-top-area_about {
    width: 50%;
  }
  body .footer-top-area_contact {
    width: 50%;
  }
  body .footer-top-area_payment {
    width: 50%;
  }
  body .footer-top-area_social {
    width: 50%;
  }
  body .testimonial_description {
    font-size: 17px;
  }
  body .testimonial_name {
    font-size: 15px;
  }
  body .services_description {
    font-size: 17px;
    width: 100%;
  }
  body .services_icon {
    font-size: 35px;
    color: #b56953;
  }
  body .suit_wrapHeader {
    font-size: 35px;
  }
  body .suit_wrapDescription {
    font-size: 17px;
    width: 100%;
    padding: 20px 0;
  }
}

@media only screen and (max-width: 768px) {
  body .slider_image {
    height: 300px;
  }
  body .slider_captionHeader {
    font-size: 30px;
  }
  body .subscription_emailIcon {
    font-size: 35px;
  }
  body .subscription_type {
    font-size: 38px;
  }
  body .subscription_signButton {
    font-size: 13px;
    width: 140px;
    height: 45px;
  }
  body .subscription_emailInput {
    width: 300px;
    height: 40px;
    font-size: 25px;
  }
  body .subscription_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
  body .footer-top-area_inner {
    row-gap: 40px;
  }
  body .footer-top-area_about {
    width: 50%;
  }
  body .footer-top-area_aboutDescription {
    font-size: 15px;
    padding: 10px 0 10px 0;
  }
  body .footer-top-area_aboutPartner {
    width: 90%;
  }
  body .footer-top-area_aboutPartner img {
    width: 100%;
  }
  body .footer-top-area_contact {
    width: 50%;
  }
  body .footer-top-area_contactDescription {
    padding: 10px 0 10px 0;
  }
  body .footer-top-area__contactDescriptionItem {
    font-size: 15px;
  }
  body .footer-top-area_payment {
    width: 50%;
  }
  body .footer-top-area_paymentDescription {
    font-size: 15px;
    padding: 10px 0 10px 0;
  }
  body .footer-top-area_social {
    width: 50%;
  }
  body .footer-top-area_socialDescription {
    font-size: 15px;
    padding: 10px 0 10px 0;
  }
  body .testimonial {
    padding: 30px 0;
  }
  body .testimonial_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .testimonial_header {
    font-size: 35px;
  }
  body .testimonial_description {
    font-size: 17px;
    padding: 20px 0 0 0;
  }
  body .testimonial_name {
    font-size: 15px;
  }
  body .services {
    padding: 30px;
  }
  body .services_header {
    font-size: 35px;
  }
  body .services_description {
    font-size: 16px;
    width: 100%;
  }
  body .suit {
    padding: 50px;
  }
  body .suit_wrapHeader {
    font-size: 35px;
    width: 100%;
  }
  body .suit_wrapDescription {
    font-size: 17px;
    width: 100%;
    padding: 20px 0;
  }
}

@media only screen and (max-width: 576px) {
  body .slider_image {
    height: 300px;
  }
  body .slider_captionHeader {
    font-size: 20px;
  }
  body .slider_buttonType {
    font-size: 15px;
  }
  body .slider_button {
    width: 100px;
    height: 40px;
  }
  body .subscription_emailIcon {
    font-size: 35px;
  }
  body .subscription_type {
    font-size: 25px;
  }
  body .subscription_signButton {
    font-size: 13px;
    width: 140px;
    height: 45px;
  }
  body .subscription_emailInput {
    width: 250px;
    height: 40px;
    font-size: 25px;
  }
  body .subscription_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
  body .footer-top-area_inner {
    row-gap: 40px;
  }
  body .footer-top-area_about {
    width: 100%;
    padding: 0;
  }
  body .footer-top-area_aboutDescription {
    font-size: 15px;
    padding: 10px 0 10px 0;
  }
  body .footer-top-area_aboutPartner {
    width: 90%;
  }
  body .footer-top-area_aboutPartner img {
    width: 100%;
  }
  body .footer-top-area_contact {
    width: 100%;
    padding: 0;
  }
  body .footer-top-area_contactDescription {
    padding: 10px 0 10px 0;
  }
  body .footer-top-area__contactDescriptionItem {
    font-size: 15px;
  }
  body .footer-top-area_payment {
    width: 100%;
    padding: 0;
  }
  body .footer-top-area_paymentDescription {
    font-size: 15px;
    padding: 10px 0 10px 0;
  }
  body .footer-top-area_social {
    width: 100%;
    padding: 0;
  }
  body .footer-top-area_socialDescription {
    font-size: 15px;
    padding: 10px 0 10px 0;
  }
  body .testimonial {
    padding: 30px 0;
  }
  body .testimonial_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .testimonial_header {
    font-size: 35px;
  }
  body .testimonial_description {
    font-size: 17px;
    padding: 20px 0 0 0;
  }
  body .testimonial_name {
    font-size: 15px;
  }
  body .services {
    padding: 30px 5px;
  }
  body .services_header {
    font-size: 25px;
  }
  body .services_description {
    font-size: 12px;
    width: 100%;
  }
  body .services_column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .services_icon {
    font-size: 30px;
  }
  body .services_itemTitle {
    font-size: 12px;
  }
  body .suit {
    padding: 50px;
  }
  body .suit_wrapHeader {
    font-size: 25px;
    width: 100%;
  }
  body .suit_wrapDescription {
    font-size: 12px;
    width: 100%;
    padding: 20px 0;
  }
  body .suit_name {
    font-size: 20px;
  }
  body .suit_volume {
    font-size: 15px;
  }
  body .suit_description {
    font-size: 12px;
  }
  body .suit_pricespan {
    font-size: 20px;
  }
}

.houseImage {
  padding-bottom: 50px;
}

.houseImage_source {
  width: 100%;
}

.detailWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.detailWrap_room {
  width: 60%;
}

.detailWrap_suitname {
  font-size: 43px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

.detailWrap_suitdescription {
  width: 95%;
  padding: 50px 0;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 300;
}

.detailWrap_hr {
  color: #b56953;
  margin: 0;
}

.detailWrap_suitServices {
  padding: 20px 0;
}

.detailWrap_ServiceList {
  padding: 20px 0;
}

.detailWrap_ServiceWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto;
}

.detailWrap_ServiceHeader {
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

.detailWrap_Icon {
  font-size: 22px;
  color: #b56953;
}

.detailWrap_serviceName {
  font-size: 17px;
  font-weight: 300;
}

.detailWrap_rulesHeader {
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}

.detailWrap_rulesContent {
  font-size: 17px;
  font-weight: 300;
  padding: 20px 0;
}

.detailWrap_rulesLink {
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  color: black;
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #c27676;
  text-decoration: underline;
}

.detailWrap_rulesLink:hover {
  color: #b56953;
  cursor: pointer;
}

.detailWrap_MapHeader {
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  padding: 20px 0;
}

.detailWrap_MapContent {
  padding: 20px 0;
}

.detailWrap_rightSide {
  width: 40%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}

.detailWrap_reservationWrap {
  background-color: #FAF9F5;
  padding: 20px;
}

.detailWrap_reservationHeader {
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
}

.detailWrap_checkHeader {
  padding-top: 50px;
  letter-spacing: 1px;
  font-weight: 352;
  font-size: 12px;
}

.detailWrap_checkin {
  padding: 10px 0;
}

.detailWrap_checkinInput {
  font-weight: 300;
  background-color: #FAF9F5 !important;
  height: 50PX;
  font-size: 20px;
}

.detailWrap_PersonForm {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detailWrap_innerForm {
  position: absolute;
  background-color: #FAF9F5 !important;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 20px 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.detailWrap_PersonItem {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detailWrap_AllPassenger {
  font-weight: 300;
  font-size: 20px;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detailWrap_item {
  height: 40px;
  width: 15%;
}

.detailWrap_yourPrice {
  padding: 20px 0 10px 0;
}

.detailWrap_price {
  font-size: 20px;
  font-weight: 300;
  padding: 0;
}

.detailWrap_BookNow {
  padding: 20px 0;
}

.detailWrap_btnBookNow {
  text-decoration: none;
  color: black;
  -webkit-transition: color .3s;
  transition: color .3s;
  display: inline-block;
  height: 50px;
  border: 1px solid black;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1px;
  margin: 0 auto;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.detailWrap_btnBookNow:hover {
  color: white;
  background-color: #B56953;
}

.related {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.related_roomsHeader {
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  padding: 20px 0;
}

.related_roomItem {
  width: 100%;
}

.related_itemLink {
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  text-decoration: none;
  color: black;
}

.related_itemLink:hover {
  color: #b56953;
  cursor: pointer;
}

.related_itemName {
  padding: 20px 0;
}

.related_itemDescription {
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 300;
}

.related_itemPrice {
  color: #b56953;
  font-size: 17px;
  font-weight: 300;
}

.related_image {
  width: 100%;
  border-radius: 5px;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.related_image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.related_itemImage {
  width: 100%;
}

.related_itemImage {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */